go 1.26.2

use (
	./apps/0api-gateway
	./apps/1audit-service
	./apps/2identity-service
	./apps/3asset-service
	./apps/4maintenance-service
	./apps/5analytics-service
	./apps/6prediction-service
	./pkg
)
